/*  
    GERAL ↴
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    flex-wrap: wrap;
    background-color: rgba(128, 128, 128, 0.158);
}

/*  
    CONTAINER CODELÃNDIA ↴
*/

.container_top {
    max-width: 1440px;
    height: 250px;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

.container_content {
    margin:  auto;
    align-items: center;
    max-width: 900px;
    display: flex;
}

.title_page {
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
}

.blog {
    width: 100%;
    text-align: right;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
    padding-top: 20px;
}

.container_input {
    display: flex;
    margin:  auto;
    align-items: center;
    max-width: 900px;
    margin-top: 90px;
}

input {
    width: 100%;
    height: 65px;
    padding-left: 60px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.589);
    font-size: 16px;
}

.container_input img {
    margin-right:  -42px;
    padding-left: 20px;
}

input::-webkit-search-cancel-button {
    margin-right: 20px;
    font-size: 20px;
}

/*  
    CONTAINER NEWS ↴
*/

.container_news {
    max-width: 900px;
    margin: auto;
    background-color: #FFF;
    margin-bottom: -30px;
   
}

.content_news {
    margin-top: 70px;
    padding: 20px;
    display: flex;
}

.date_news {
    color: rgba(113, 113, 113, 1);
    font-size: 16px;
}

.heart {
    margin-left: 84%;
    cursor: pointer;
}

.title_news {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 26px;
}

.text_news {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
    color: rgba(113, 113, 113, 1);
}

/*
    ÁREA CRÉDITOS ↴
*/

footer {
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    margin-top: 100px;
    color: #FFF;
    padding: 60px;
    text-align: center;
    text-decoration: none;
    
}

footer a {
    color: #FFF;
    font-weight:bold;
}

footer a:hover {
    color: #000;
}