footer {
  background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
  margin-top: 4.375rem;
  color: #FFF;
  padding: 2.5rem;
  text-align: center;
  text-decoration: none;
}

.created {
  margin-bottom: 1.25rem;
}

footer a {
  color: #FFF;
  font-weight:bold;
}

footer a:hover {
  color: #000;
}