.container_top {
  height: 15.625rem;
  background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}

.container_content {
  margin: auto;
  align-items: center;
  display: flex;
  padding-top: 2.5rem;
  max-width: 60vw;
}

.title_page {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}

.blog {
  width: 100%;
  text-align: right;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 1);
}

.container_input {
  display: flex;
  justify-content: center;
  margin-top: 4.6875rem;
}

form {
  width: 60vw;
  position: relative;
}

input {
  width: 100%;
  height: 4.0625rem;
  padding-left: 3.75rem;
  border-radius: 0.3125rem;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
}

button {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  background-color: transparent;
  border: none;
}

input::-webkit-search-cancel-button {
  margin-right: 1.25rem;
  font-size: 1.25rem;
}

input::placeholder {
  font-family: 'Inter';
}

@media (min-width: 320px) and (max-width: 768px) {
  .container_content {
    max-width: 85vw;
  }

  form {
    width: 85vw;
  }
}